allow audioserver qmuxd_socket:dir search;
allow audioserver self:socket create;
allow audioserver qmuxd_socket:dir write;
allow audioserver self:socket ioctl;
allow audioserver qmuxd_socket:dir add_name;
allow audioserver self:socket read;
allow audioserver qmuxd_socket:sock_file create;
allow audioserver qmuxd_socket:sock_file setattr;
allow audioserver qmuxd_socket:sock_file write;
allow audioserver qmux:unix_stream_socket connectto;
allow audioserver qmuxd_socket:dir remove_name;
