allow hal_drm_default vndbinder_device:chr_file { open read write ioctl };
allow hal_drm_default media_data_file:dir { getattr open read search };
allow hal_drm_default media_data_file:file { getattr open read write };
