allow init diag_device:chr_file unlink;
allow init sysfs_mmc_host:file rw_file_perms;
allow init sysfs:file { rw_file_perms setattr };

# Symlink /sdcard to backing block
allow init tmpfs:lnk_file create;

allow init {
    sysfs_devices_system_cpu
    sysfs_mpdecision
    sysfs_msm_subsys
    sysfs_net
}:file w_file_perms;

allow init {
    proc_slabinfo
    sysfs_graphics
    sysfs_msm_subsys
    sysfs_usb
    sysfs_wlan_fwpath
}:file setattr;
