# HDMI output (system process)
type ppd, domain;
type ppd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ppd)

permissive_or_unconfined(ppd)

allow ppd graphics_device:chr_file rw_file_perms;
unix_socket_connect(ppd, property, init)
