# mpdecision socket access
unix_socket_connect(system_server, mpdecision, mpdecision)
unix_socket_send(system_server, mpdecision, mpdecision)
allow system_server mpdecision:unix_stream_socket sendto;
allow system_server mpdecision_socket:dir search;

allow system_server sensors_socket:sock_file r_file_perms;

allow system_server persist_file:dir r_dir_perms;

# use MSM ipc router ioctls
allow system_server self:socket ioctl;
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;
